<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Packing List</title>
  </head>
  <body>
    <h1>Packing List</h1>
    <% include ./partials/navbar.ejs %>
    <span>New item:</span>
    <form method='POST' action='/packinglist' id="add-item-form">
      <input name='item' type='text' placeholder='Item' />
      <input name='details' type='text' placeholder='Additional Info' />
      <input type='submit' value='Add it!' />
    </form>
    <br>
    <br>
    <div class="board">
        <% templateItems.forEach((item) => {%>
          <div class="place">
              <h3><%=item.item%></h3>
              <h4><%=item.details%></h4>

              <form method='POST' action='/packinglist/<%=item._id%>'>
                <input name='_method' type='hidden' value='PUT'/>
                <input name='item' type='text' value='<%=item.item%>' />
                <input name='details' type='text' value='<%=item.details%>' />
                <input type='submit' value='Update it!' />
              </form>

              <form action="/packinglist/<%=item._id%>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete it!">
              </form>

          </div>
          <br>
        <%})%>
      </div>

      <div id="chatwindow">
        <div id="window">
          <ul id="messages"></ul>
          <form id="form" action="">
            <input id="name" autocomplete="off" placeholder="name"/>
            <input id="m" autocomplete="off" /><button>Send</button>
          </form>
        </div>
      </div>

      <div class="weather">
        <a href="https://www.accuweather.com/en/us/anaheim-ca/92805/weather-forecast/327150" class="aw-widget-legal">
        <!--
        By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
        -->
        </a><div id="awcc1525886506624" class="aw-widget-current"  data-locationkey="" data-unit="f" data-language="en-us" data-useip="true" data-uid="awcc1525886506624"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
      </div>

  </body>
</html>
