<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Places</title>
  </head>
  <body>
    <h1>Places</h1>
    <% include ./partials/navbar.ejs %>

    <p><%=templatePlace.city%>, <%=templatePlace.country%></p>
    <p><%=templatePlace.name%></p>
    <p><%=templatePlace.url%></p>
    <p><%=templatePlace.notes%></p>

  </body>
</html>
