<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Places</title>
  </head>
  <body>
    <h1>Places</h1>
    <% include ./partials/navbar.ejs %>
    <div class="place">
      <h3><%=templatePlace.name%></h3>
      <h4><%=templatePlace.city%>, <%=templatePlace.country%></h4>
      <a href='<%=templatePlace.url%>'><p>Website</p></a>
      <p><%=templatePlace.notes%></p>
    </div>
    <br>

    <form method='POST' action='/places/<%=templatePlace._id%>'>
      <input name='_method' type='hidden' value='PUT'/>
      <input name='city' type='text' value='<%=templatePlace.city%>'/>
      <input name='country' type='text' value='<%=templatePlace.country%>'/>
      <input name='name' type='text' value='<%=templatePlace.name%>'/>
      <input name='url' type='text' value=<%=templatePlace.url%>'/>
      <br>
      <br>
      <textarea id='notes' name='notes' type='text'><%=templatePlace.notes%></textarea>
      <br>
      <br>
      <input type='submit' value='Update it!' />
    </form>
    <br>
    <form action="/places/<%=templatePlace._id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete it!">
    </form>

    <% include ./partials/sidebars.ejs %>

  </body>
</html>
