<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <% include ./partials/head.ejs %>
    <title>Pocket Guide: Places</title>
  </head>
  <body>
    <h1>Places</h1>
    <% include ./partials/navbar.ejs %>

    <p><%=templatePlace.city%>, <%=templatePlace.country%></p>
    <p><%=templatePlace.name%></p>
    <p><%=templatePlace.url%></p>
    <p><%=templatePlace.notes%></p>

    <form method='POST' action='/places/<%=templatePlace._id%>'>
      <input name='_method' type='hidden' value='PUT'/>
      <input name='country' type='text' placeholder='Country' />
      <input name='city' type='text' placeholder='City' />
      <input name='name' type='text' placeholder='Place' />
      <input name='url' type='text' placeholder='Website' />
      <input name='notes' type='text' placeholder='Notes' />
      <input type='submit' value='Update it!' />
    </form>

    <form action="/places/<%=templatePlace._id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete it!">
    </form>

  </body>
</html>
